@page
@model Scouting.Pages.Pregame.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pregame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pregame.preMatch_TeamNumber" class="control-label"></label>
                <input asp-for="Pregame.preMatch_TeamNumber" class="form-control" />
                <span asp-validation-for="Pregame.preMatch_TeamNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregame.preMatch_MatchNumber" class="control-label"></label>
                <input asp-for="Pregame.preMatch_MatchNumber" class="form-control" />
                <span asp-validation-for="Pregame.preMatch_MatchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregame.preMatch_Scouter" class="control-label"></label>
                <input asp-for="Pregame.preMatch_Scouter" class="form-control" />
                <span asp-validation-for="Pregame.preMatch_Scouter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregame.preMatch_AllianceColor" class="control-label"></label>
                <input asp-for="Pregame.preMatch_AllianceColor" class="form-control" />
                <span asp-validation-for="Pregame.preMatch_AllianceColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pregame.preMatch_Preload" /> @Html.DisplayNameFor(model => model.preMatch_Preload))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Pregame.preMatch_StartingPosition" class="control-label"></label>
                <input asp-for="Pregame.preMatch_StartingPosition" class="form-control" />
                <span asp-validation-for="Pregame.preMatch_StartingPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
